@import "../../less/global-vars";
.split_image_section {
    display: flex;
    align-items: center;
    @media @mobile {
        display: block;
        margin: 0 30px;
    }
    &--image-on-top {
        @media @mobile {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &--image,
    &--content {
        width: 50%;
        @media @mobile {
            width: 100%;
        }
    }
    &--image {
        i {
            display: block;
            height: 0;
            padding-bottom: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media @mobile {
                padding-bottom: 85%;
                margin-bottom: 30px;
            }
        }
    }
    &--content {
        padding: 0 6%;
        text-align: center;
    }
}