// Grid - Desktop First
@mobile: ~"only screen and (max-width: 700px)";
@tablet: ~"only screen and (max-width: 900px)";
@tablet-only: ~"only screen and (min-width: 721px) and (max-width:1000px)";
@tablet-above: ~"only screen and (min-width: 721px)";
@desktop-only: ~"only screen and (min-width: 1001px)";

// Colours
@normal-text-color: #222;

@link-color: #34414c;
@link-color-hover: darken(@link-color, 10%);

@brand-color: #ca494d;
@client-support-color: #AD3626;

@dark-grey: #272727;
@mid-grey: #909090;
@light-grey: #f2f2f2;

@border-color: #c2c2c2;
@page-background: #f7f7f7;