@import "../global-vars";
.small--post--article {
    float: left;
    width: 50%;
    padding: 0 16px;
    margin-bottom: 30px;
    img {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        transition: 0.3s all;
    }
    a {
        &:hover {
            text-decoration: none;
            img {
                opacity: 0.8
            }
            h3 {
                text-decoration: underline
            }
        }
    }
    @media @mobile {
        float: none;
        width: 100%;
    }
}

.post-intro-heading {
    height: 400px;
    background-color: @dark-grey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    .post-intro-inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        a {
            color: #fff;
        }
    }
    @media @tablet {
        height: 300px;
    }
    @media @mobile {
        height: 200px;
    }
    .wp-post-image {
        display: block;
        width: 100%;
    }
}

.article-body {
    &.small-section {
        padding-bottom: 0;
    }
    p {
        line-height: 1.75em;
    }
    p:first-child {
        font-size: 120%;
    }
}

hr {
    clear: both;
    margin: 30px 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.post-meta-info {
    font-size: 14px;
}