@import "../global-vars";

.hide {
    position: absolute;
    left: -200em;
    top: 0
}

.flex {
    display: flex
}

.indented {
    padding-left: 15%;
    padding-right: 15%
}

// Sections & Colors 
.small-section {
    padding: 45px 0
}

.large-section {
    padding: 80px 0
}

.xlarge-section {
    padding: 100px 0
}

.white-section {
    background: #fff
}

.dark-section {
    background-color: @dark-grey;
    color: @light-grey;
}

.brand-color-section {
    background-color: @brand-color;
    color: #fff;
}

.light-grey-section {
    background-color: @light-grey
}

.border-section {
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
}

.center-section {
    text-align: center
}

// Button Setup
.button,
.wpcf7 input[type="submit"] {
    display: inline-block;
    padding: 16px 50px;
    margin: 10px auto 5px;
    min-width: 200px;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 5;
    color: #fff;
    border: 1px solid @dark-grey;
    background-color: @dark-grey;
    transition: border-color 0.3s, color 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    &:focus,
    &:hover {
        color: #fff;
        text-decoration: none;
        border-color: #4d4d4d;
        border: 1px solid #4d4d4d;
    }
    &.white-button {
        color: #313131;
        background-color: white;
        border-color: white;
        &:focus,
        &:hover {
            color: #fff;
            border-color: white;
        }
    }
    &.trans-button {
        color: @dark-grey;
        border-color: white;
        background-color: transparent;
        &:focus,
        &:hover {
            color: #fff;
        }
    }
    &.brand-color-button {
        color: white;
        border-color: @brand-color;
        background-color: @brand-color;
        &:focus,
        &:hover {
            border-color: darken(@brand-color, 10%);
            background-color: darken(@brand-color, 10%);
        }
    }
}

// Misc 
::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}