@import "../global-vars";
// Super Global, Grid & Reset
// Reset
html,body,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr{margin:0;padding:0}
h1,h2,h3,h4,p{margin-top:0}
button,input,select,textarea{font-family:inherit; margin:0}
*,*:before,*:after{box-sizing:inherit}
img,embed,iframe,object,audio,video{height:auto;max-width:100%}
img {vertical-align: bottom}
iframe{border:0;display:block}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;text-align:left}


// Main
html {
    box-sizing: border-box;
    overflow-y: scroll;
}

body {
    background-color: #fff;
    color: @normal-text-color;
    font-size: medium;
    font-family: Helvetica, 'Roboto', arial, sans-serif;
    margin: 0 auto;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: @link-color;
    text-decoration: none;
    &:focus,
    &:hover,
    &:active {
        outline: 0;
        color: @link-color-hover;
        text-decoration: underline;
    }
}

p {
    line-height: 1.6em;
    a {
        text-decoration: underline;
    }
}

h1 {
    font-size: 1.563rem;
    @media @mobile {
        font-size: x-large;
    }
}

h2 {
    font-size: x-large;
    color: @brand-color;
}