@import "../global-vars";
form.wpcf7-form {
    margin-top: 10px;
    @media @mobile {
        margin-top: 20px;
    }
    input,
    textarea {
        background: #f4f4f4;
        border: 1px solid @border-color;
        width: 100%;
        padding: 16px 12px;
        margin: 10px auto;
        transition: 0.5s all;
        &.wpcf7-not-valid {
            border-color: #610e0e;
            ;
            border-width: 3px;
            box-shadow: 0 0 10px 1px #610e0e;
        }
    }
    input[type=submit] {
        padding: 16px 12px;
        @media @mobile {
            width: 100%;
        }
    }
    span.wpcf7-not-valid-tip {
        display: none;
    }
    div.wpcf7-validation-errors,
    div.wpcf7-mail-sent-ok {
        border: none;
    }
    .one_half {
        width: 49%;
        margin-right: 2%;
        @media @mobile {
            width: 100%;
            margin: 0;
        }
        &.last_column {
            margin-right: 0;
        }
    }
    &.sent {
        input.wpcf7-submit {
            background: #55ac2a;
            border-color: #55ac2a;
        }
    }
}